$font-color:          #2f3744;
$font-color-ligth:    #6b7883;
$font-size-base:      1rem;
$font-size-xs:        ($font-size-base * 0.7);
$font-weight-normal:  500;
$font-weight-bold:    900;

$gray:                #d7d8d9;
$gray-light:          #e4e5e6;

$nav-color:           $font-color;
$nav-active-color:    $nav-color;
$nav-active-weigth:   $font-weight-bold;

$border-radius:       3px;

$transition-base: all .3s ease;
